body{
   display: flex; justify-content: center; text-align: center;
   align-items: center;
   min-height: 100vh;
}
main{
   background-color: grey;
}

.center{
   display: flex; justify-content: center; text-align: center;
   align-items: center;
   flex-direction: column;
  
}
.center ul{
   list-style: none;
}